.background1 {
  height: 479.6px;
  width: 358.1px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-200);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.checkmarkIcon {
  width: 20px;
  height: 20px;
  position: relative;
  object-fit: cover;
}
.checkmarkContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-5) 0 0;
}
.span {
  font-weight: 600;
  white-space: pre-wrap;
}
.completedProjects {
  position: relative;
  line-height: 26.04px;
  text-transform: uppercase;
}
.background,
.backgroundGroup,
.webGlComplete {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.webGlComplete {
  border-radius: 14.11px;
  background-color: var(--background);
  align-items: flex-start;
  padding: var(--padding-7xs) var(--padding-lgi) var(--padding-7xs)
    var(--padding-2xl);
  gap: var(--gap-3xs);
  z-index: 1;
}
.background,
.backgroundGroup {
  box-sizing: border-box;
  max-width: 100%;
}
.backgroundGroup {
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-200);
  border: 1px solid var(--color-darkslategray-100);
  align-items: flex-end;
  padding: var(--padding-197xl) var(--padding-21xl) var(--padding-196xl-6)
    var(--padding-23xl);
  flex-shrink: 0;
}
.background {
  position: absolute;
  top: 0;
  left: 10px;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--on-surface);
  height: 288px;
  align-items: flex-start;
  padding: 0;
}
.events2fwqn9reeobcq5jfee5hupIcon {
  position: absolute;
  top: 46px;
  left: 0;
  width: 378px;
  height: 185px;
  overflow: hidden;
  object-fit: cover;
  z-index: 2;
}
.backgroundParent,
.openai {
  position: relative;
  flex-shrink: 0;
}
.backgroundParent {
  margin-right: -12px;
  width: 378px;
  height: 288px;
  max-width: 107%;
}
.openai {
  width: 243px;
  line-height: 29px;
  text-transform: capitalize;
  display: inline-block;
}
.dataAndServices,
.discordApisEnables,
.orExtendThe {
  margin: 0;
}
.discordApisEnablesContainer {
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 18px;
  font-weight: 500;
  transform: rotate(0.6deg);
  flex-shrink: 0;
}
.openaiParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  min-height: 94px;
}
.groupOfProjects {
  height: 19px;
  width: 19px;
  position: relative;
  object-fit: cover;
  min-height: 19px;
}
.seeProjects {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 94px;
}
.discordView {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 0;
  gap: 8px 6px;
}
.discordProjectLink,
.eventCardbuttondefaultprop {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.discordProjectLink {
  align-self: stretch;
  border-radius: var(--br-31xl);
  background-color: var(--color-gray-300);
  border: 1.5px solid var(--color-gray-300);
  align-items: center;
  padding: var(--padding-6xs) var(--padding-2xs);
}
.eventCardbuttondefaultprop {
  flex: 1;
  align-items: flex-start;
  min-width: 96px;
}
.moreIcon {
  height: 19px;
  width: 19px;
  position: relative;
  object-fit: cover;
  min-height: 19px;
}
.moreInfo {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 71px;
}
.discordLearnMore,
.discordMoreLink {
  display: flex;
  align-items: center;
  justify-content: center;
}
.discordLearnMore {
  flex-direction: row;
  gap: var(--gap-5xs);
}
.discordMoreLink {
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-black);
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-4xl);
}
.eventCardbuttondefaultprop1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--on-surface);
}
.discordSeeLink {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.discordSeeLinkWrapper,
.eventCardevent26,
.frameParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.discordSeeLinkWrapper {
  width: 314.6px;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  font-size: var(--font-size-mini);
  color: var(--color-aliceblue);
}
.eventCardevent26,
.frameParent {
  flex-direction: column;
  gap: var(--gap-2xl-3);
  max-width: 100%;
  font-size: var(--font-size-xl);
}
.eventCardevent26 {
  width: 358px;
  align-items: flex-end;
  padding: 0 var(--padding-11xs) var(--padding-4xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--font-size-base-2);
  color: var(--on-surface);
  font-family: var(--font-clash-display);
}
@media screen and (max-width: 450px) {
  .openai {
    font-size: var(--font-size-base);
    line-height: 23px;
  }
  .discordSeeLink {
    flex-wrap: wrap;
  }
}
