.background1 {
  width: 358.1px;
  height: 479.6px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-200);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.events2fccn7xcj92iamcrehwglbIcon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 1;
}
.checkmarkIcon {
  width: 20px;
  height: 20px;
  position: relative;
  object-fit: cover;
}
.checkmarkWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-5) 0 0;
}
.span {
  font-weight: 600;
  white-space: pre-wrap;
}
.completedProjects {
  position: relative;
  line-height: 26.04px;
  text-transform: uppercase;
}
.frameParent,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frameParent {
  border-radius: 14.11px;
  background-color: var(--background);
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-2xl);
  gap: var(--gap-3xs);
  z-index: 1;
}
.frameWrapper {
  justify-content: flex-end;
  padding: 0 var(--padding-4xs);
}
.background,
.backgroundParent {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.backgroundParent {
  height: 479.6px;
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-200);
  border: 1px solid var(--color-darkslategray-100);
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-49xl) var(--padding-12xl) var(--padding-196xl-6)
    var(--padding-lgi);
  gap: var(--gap-9xs);
  flex-shrink: 0;
}
.background {
  align-self: stretch;
  height: 288px;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--on-surface);
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
}
.openai {
  width: 243px;
  position: relative;
  line-height: 29px;
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
}
.appsWithPowerful,
.gpt3,
.openAiApis {
  margin: 0;
}
.openAiApisContainer {
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 18px;
  font-weight: 500;
  transform: rotate(0.6deg);
  flex-shrink: 0;
}
.openaiParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  min-height: 94px;
}
.groupOfProjects {
  height: 19px;
  width: 19px;
  position: relative;
  object-fit: cover;
  min-height: 19px;
}
.seeProjects {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 94px;
}
.groupOfProjectsParent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 0;
  gap: 8px 6px;
}
.eventCardbuttondefaultpropInner {
  align-self: stretch;
  border-radius: var(--br-31xl);
  background-color: var(--color-gray-300);
  border: 1.5px solid var(--color-gray-300);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-2xs);
}
.eventCardbuttondefaultprop {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 96px;
}
.moreIcon {
  height: 19px;
  width: 19px;
  position: relative;
  object-fit: cover;
  min-height: 19px;
}
.moreInfo {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 71px;
}
.eventCardbuttondefaultpropChild,
.moreParent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.moreParent {
  flex-direction: row;
  gap: var(--gap-5xs);
}
.eventCardbuttondefaultpropChild {
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-black);
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-4xl);
}
.eventCardbuttondefaultprop1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--on-surface);
}
.eventCardbuttondefaultpropParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.frameContainer,
.frameGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameContainer {
  width: 314.6px;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  font-size: var(--font-size-mini);
  color: var(--color-aliceblue);
}
.frameGroup {
  flex-direction: column;
  gap: var(--gap-2xl-3);
  max-width: 100%;
}
.eventCardevent23,
.eventCardevent23Inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-xl);
}
.eventCardevent23 {
  width: 358px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-4xl);
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--font-size-base-2);
  color: var(--on-surface);
  font-family: var(--font-clash-display);
}
@media screen and (max-width: 750px) {
  .backgroundParent {
    padding-top: var(--padding-25xl);
    padding-bottom: var(--padding-121xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .openai {
    font-size: var(--font-size-base);
    line-height: 23px;
  }
  .eventCardbuttondefaultpropParent {
    flex-wrap: wrap;
  }
}
